<header>
  <img src="webaula/Media/imagens/imagem.png" alt="catálogo">
  <h1>Catálogo Produtos</h1>
  .produto {
  width: 300px;
  height: 400px;
  margin: 20px;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 10px;
  text-align: center;
}

.produto img {
  max-width: 100%;
  max-height: 60%;
  margin-bottom: 10px;
}

.produto h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.produto p {
  font-size: 16px;
  margin-bottom: 10px;
}

.produto .preco {
  font-size: 24px;
  font-weight: bold;
  color: #f00;
}



</header>